body, html {
  width: 100%;
  height: 100%;
}

body {
  background: #f6f6f6
}

.wrapper {
  overflow: hidden;
  min-width: 960px;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.mistake {
  width: 960px;
  height: 80px;
  background: red;
}